/Chat.class
/Client.class
/CommunicationGUI$1.class
/CommunicationGUI$2.class
/CommunicationGUI$3.class
/CommunicationGUI$4.class
/CommunicationGUI$5.class
/CommunicationGUI$6.class
/CommunicationGUI.class
/CommunicationManager.class
/CommunicationUserInterface.class
/Role.class
/Log.class
/MessageType.class
/Server$ClientHandler.class
/Server.class
/User.class
/UserLoader.class
/Message.class
/MessageTest.class
/UserTest.class
/ChatTest.class
/LogTest.class
/CommunicationGUI$7.class
/CommunicationGUI$8.class
